@using WordCounter.Models;
<h1>Welcome the Repeat Counter Homepage</h1>
<h3>Here you can review some basic facts acout the matches in your sentence</h3>

<p>In your original string, "@Model.GetSentence()," the number of times the word "@Model.GetWord()" appears is @Model.GetMatches().</p>
