@{
    Layout="_Layout";
}
<h1>Fill in the form below to start counting for repeat words</h1>
<h3>Enter a sentence and a word, and we'll look for that word in the sentence</h3>
<form action="/repeatcounter" method="post">
    <label for="sentence">Sentence: </label>
    <input id="sentence" name="sentence" type="text">
    <label for="word">Word: </label>
    <input id="word" name="word" type="text">
    <button type="submit">Submit!</button>
</form>